<div class="col-lg-5">
    <h3> Market By Order</h3>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th colspan="2">
                    Buy
                </th>
            </tr>
            <tr>
                <th>Volume</th>
                <th>Price</th>
            </tr>
        </thead>

        <tr></tr>

        {{#each order in model.bidOrders}}
        <tr>
            <th>
                {{order.volume}}
            </th>
            <th>
                {{order.price}}
            </th>

        </tr>
        {{/each}}


    </table>
</div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th colspan="2">
                    Sell
                </th>
            </tr>
            <tr>
                <th>Volume</th>
                <th>Price</th>
            </tr>
        </thead>

        <tr></tr>

        {{#each sells}}
        <tr>
            <th>
                {{volume}}
            </th>
            <th>
                {{price}}
            </th>

        </tr>
        {{/each}}


    </table>
</div>

<h3> Market By Price</h3>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th colspan="3">
                Buy
            </th>
        </tr>
        <tr>
            <th>#</th>
            <th>Volume</th>
            <th>Price</th>
        </tr>
    </thead>
</table>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th colspan="3">
                Sell
            </th>
        </tr>
        <tr>
            <th>#</th>
            <th>Volume</th>
            <th>Price</th>
        </tr>
    </thead>
</table>
</div>