<div class="col-lg-5">
    <h3> Market By Fucking Order</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th colspan="2">
                Buy
            </th>
            <th colspan="2">
                Sell
            </th>
        </tr>
        <tr>
            <th>Volume</th>
            <th>Price</th>
            <th>Volume</th>
            <th>Price</th>
        </tr>
        </thead>

        <tr></tr>

		{{#each bid in model}}
            <tr>
                <th>
					{{bid.volume}}
                </th>
                <th>
					{{bid.price}}
                </th>
            </tr>
		{{/each}}

    </table>
</div>