<div class="col-lg-5">
    <h3> Market By Price</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th colspan="2">
                Buy
            </th>
            <th colspan="2">
                Sell
            </th>
        </tr>
        <tr>
            <th>#</th>
            <th>Volume</th>
            <th>Price</th>
            <th>Price</th>
            <th>Volume</th>
            <th>#</th>
        </tr>
        </thead>
    </table>
</div>