<div class="container">
    <h2>Add new post</h2>


    <form>
        <div class="container">
            <div class="large-12 columns">
                <label>Name
                    {{input value=name id="name" type="text" }}
                </label>
            </div>
        </div>
        <div class="container">
            <div class="large-12 columns">
                <label> Open Price
                    {{textarea value=openPrice id="openPrice" }}
                </label>
            </div>
        </div>
    </form>
    <a href="#" class="button radius" {{action 'save'}}>Save</a>
</div>