<div class="row">
    <div class="large-12 columns">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                <span><h3>SE3314B Assignment 1: Official </h3></span>
                    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                    {{#link-to "posts"}} Menu{{/link-to}}
                </div>
            </div>
        </nav>

        <ul class="circle">
            <img src="images/logo.png">
        </ul>
        {{outlet}}
    </div>
</div>
