<div class="row">
    <div class="large-12 columns">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                <span><h3>SE3314B Assignment 1</h3></span>
                    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                    <span><a href="#"><span>Menu</span></a></span>
                </div>
            </div>
        </nav>

        {{outlet}}
    </div>
</div>
